---
// import { Markdown } from 'astro/components';
import Markdown from "~/components/Markdown";
import BaseLayout from "~/layouts/BaseLayout";
---

<BaseLayout>
  <main data-wrapper>
    <p>
      <span><a href="/">Home</a> / </span>
    </p> 

    <div id="block" class="block w-36 h-36 bg-blue-500 rounded">
    </div>

    <script src={Astro.resolve("./animate.js")} async type="module"></script>
  </main>
</BaseLayout>