---
import { Markdown } from 'astro/components';
import BaseLayout from "../../layouts/BaseLayout.astro";

import PlaybackBlock from "../../components/PlaybackBlock.astro";
import AnimatedBox from '../../components/AnimatedBox.astro';
---

<BaseLayout title="demo">
  <div>
    <p>
      <span><a href="/">Home</a> / </span>
    </p> 

    <PlaybackBlock id="simple-demo">
      <AnimatedBox>1</AnimatedBox>
      <AnimatedBox id="box-2">2</AnimatedBox>
    </PlaybackBlock>

    <script src={"../../ts/animate.ts"}></script>
  </div>
</BaseLayout>