---
// import { Markdown } from 'astro/components';
import Markdown from "~/components/Markdown";
import BaseLayout from "~/layouts/BaseLayout";

import { globby } from 'globby';
import { readFileSync } from "node:fs";

export async function getStaticPaths() {
    let res = await globby(["docs/**/*.md", "!docs/api"]);
    let pages = res.map(x => {
        return { 
            path: x, 
            page: x
              .replace(/^docs\//, "")
              .replace(/\.md$/, "")
        }
    });

    let result = pages.map(x => {
      const { page, path } = x;
      const content = readFileSync(`${path}`, "utf-8");
      return { params: { page }, props: { content } }
    });
    
    result.forEach(v => {
      if (/\/index$/.test(v.params.page)) {
        result.push({ ...v, params: { page: v.params.page.replace(/\/index$/, "") } })
      }
    })
    
    return result;
}

const {content} = Astro.props;
let pathArr = Astro.request.url.pathname.split("/");
---

<BaseLayout>
  <main data-wrapper>
    <p>
      <span>Home</span>
      {pathArr.map((path, i) => {
        return `<a href="${pathArr.slice(0, i).join("/")}">${path}</a>` 
      }).join(" / ")}
    </p> 
    <article main-content>
      <Markdown content={content} />
    </article> 
  </main>
</BaseLayout>