---
// import { Markdown } from 'astro/components';
import Markdown from "../components/Markdown.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const content = Astro.fetchContent('../../README.md')[0].astro.source;
---

<BaseLayout>
  <main data-wrapper>
    <p>
      <span><a href="/">Home</a> / </span>
    </p> 

    <article main-content>
      <Markdown content={content} />
    </article> 
  </main>
</BaseLayout>