html {
    position: relative;
    min-height: 100%;
}

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 75px;
    margin-bottom: 60px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

/** Users Blocks **/
.usersblock .avatar-cont {
    margin-right: 10px;
}

.usersblock .avatar-cont,
.usersblock .avatar-cont img {
    width: 48px;
    height: 48px;
}

.usersblock__intro {
    color: #000;
}

#splashscreen {
    position: fixed;
    z-index: 1040;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.splashscreen-inner {
    position: relative;
    z-index: 11;
    display: block;
}

.splashscreen-bg {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eeeeee;
}

.splashscreen-text {
    position: relative;
    z-index: 11;
    font-size: 16px;
    margin-top: 150px;
    letter-spacing: 5px;
}

.spinner {
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    width: 66px;
    height: 66px;
    margin-top: -33px;
    margin-left: -33px;
    -webkit-animation: contanim 2s linear infinite;
    animation: contanim 2s linear infinite;
}

.spinner svg {
    display: block;
    margin: 0; padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.spinner svg:nth-child(1) circle {
    stroke: #84EBBD;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    -webkit-animation: strokeanim 3s calc(.2s * (1)) ease infinite;
    animation: strokeanim 3s calc(.2s * (1)) ease infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.spinner svg:nth-child(2) circle {
    stroke: #4977EC;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    -webkit-animation: strokeanim 3s calc(.2s * (2)) ease infinite;
    animation: strokeanim 3s calc(.2s * (2)) ease infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.spinner svg:nth-child(3) circle {
    stroke: #F6BB67;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    -webkit-animation: strokeanim 3s calc(.2s * (3)) ease infinite;
    animation: strokeanim 3s calc(.2s * (3)) ease infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.spinner svg:nth-child(4) circle {
    stroke: #333841;
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
    -webkit-animation: strokeanim 3s calc(.2s * (4)) ease infinite;
    animation: strokeanim 3s calc(.2s * (4)) ease infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

@-webkit-keyframes strokeanim {
    0% {
        stroke-dasharray: 1, 300;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -58.548324585;
    }
    100% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -175.6449737549;
    }
}

@keyframes strokeanim {
    0% {
        stroke-dasharray: 1, 300;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -58.548324585;
    }
    100% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -175.6449737549;
    }
}

@-webkit-keyframes contanim {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes contanim {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/** Big transition **/
#big-transition {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
}

#big-transition #big-transition-vertical,
#big-transition #big-transition-horizontal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

#big-transition #big-transition-vertical > div {
    height: 100%;
    flex: 1;
    background: #eee;
    transform-origin: 0 0;
    transform: scaleY(0);
}

#big-transition #big-transition-horizontal {
    flex-flow: column;
}

#big-transition #big-transition-horizontal > div {
    width: 100%;
    flex: 1 1;
    background: #8f8f8f;
    transform-origin: 0 0;
    transform: scaleX(0);
}

/** Footer **/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
