/* Sakura.css v1.3.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */

$color-force: #3b82f6;
$color-blossom: lighten($color-force, 20%);
$color-fade: $color-force;

$color-bg: #120c0e;
$color-bg-alt: darken(#1e3a8a, 20%);

/* $color-text: #dedce5; */
$color-text: #d9d8dc;
$font-size-base: 1.8rem;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-heading: $font-family-base;

:root {
    --light-external-icon: url(/assets/light-external.svg);
    --dark-external-icon: url(/assets/dark-external.svg);
    --external-icon: var(--light-external-icon);

    @media (prefers-color-scheme: dark) {
        --external-icon: var(--dark-external-icon);
    }
}

/* Body */
html {
    font-size: 62.5%; // So that root size becomes 10px
    font-family: $font-family-base;
    scroll-padding-block-start: theme("spacing.24");
    // scroll-margin-block-start: theme("spacing.24");

    scrollbar-gutter: stable both-edges;
}

body {
    // $font-size-base must be a rem value
    font-size: $font-size-base;
    line-height: 1.618;
    @apply text-3xl;
    // max-width: 38em;
    margin: auto;
    color: $color-text;
    background-color: $color-bg;
    padding: 13px;

    @supports (padding-left: env(safe-area-inset-left)) {
        padding-inline-start: calc(13px + env(safe-area-inset-left));
        padding-inline-end: calc(13px + env(safe-area-inset-right));

        padding-block-start: calc(13px + env(safe-area-inset-top));
        padding-block-end: calc(13px + env(safe-area-inset-bottom));
    }
}

@media (max-width: 684px) {
    body {
        font-size: $font-size-base * 0.85;
    }
}

@media (max-width: 382px) {
    body {
        font-size: $font-size-base * 0.75;
    }
}

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    // font-family: $font-family-heading;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    @include word-wrap;

    a {
        @apply no-underline;
    }
}

a :is(h1, h2, h3, h4, h5, h6) {
    @apply no-underline;
}

h1 {
    font-size: 2.35em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1em;
}

p {
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

small,
sub,
sup {
    font-size: 75%;
}

hr {
    border-color: $color-blossom;
}

a {
    // text-decoration: none;
    text-decoration: underline;
    color: $color-blossom;

    @media (prefers-color-scheme: light) {
        color: darken($color-blossom, 35%);
    }

    // &[target]:not([href*="https://gitpod.io/#"]):after
    // {
    //     display: inline;
    //     content: var(--external-icon);
    //     stroke: currentColor;
    //     margin-left: 0.2rem;
    //     margin-right: 0.1rem;
    //     opacity: 0.6;
    //     transition: all 0.2s 50ms;
    // }

    &:hover {
        color: $color-fade;
        border-bottom: 2px solid $color-text;

        @media (prefers-color-scheme: light) {
            border-bottom-color: darken($color-blossom, 25%);
        }
    }

    &:visited {
        color: darken($color-blossom, 10%);
        border-bottom: 2px solid $color-text;
        text-decoration: double !important;

        @media (prefers-color-scheme: light) {
            @apply text-indigo-700 font-bold;
            border-bottom-color: darken($color-blossom, 35%);
        }
    }
}

ul {
    padding-left: 1.4em;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

li {
    margin-bottom: 0.4em;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid $color-blossom;
    margin-bottom: 2.5rem;
    background-color: lighten($color-bg-alt, 24%);
}

blockquote p {
    margin-bottom: 0;
}

img,
video {
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

/* Pre and Code */

pre {
    // background-color: $color-bg-alt;
    display: block;
    padding-block: 1em;
    overflow-x: auto;
    margin-top: 0px;
}

code {
    font-size: 0.9em;
    padding: 0 0.5em;
    // background-color: $color-bg-alt;
    white-space: pre-wrap;
}

pre > code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
}

/* Tables */

table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 0.5em;
    border-bottom: 1px solid #313e47;
}

/* Buttons, forms and input */

input,
textarea {
    border: 1px solid $color-text;

    &:focus {
        border: 1px solid $color-blossom;
    }
}

textarea {
    width: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    background-color: $color-blossom;
    color: $color-bg;
    border-radius: 1px;
    border: 1px solid $color-blossom;
    cursor: pointer;
    box-sizing: border-box;

    &[disabled] {
        cursor: default;
        opacity: 0.5;
    }

    &:focus:enabled,
    &:hover:enabled {
        background-color: $color-fade;
        border-color: $color-fade;
        color: $color-bg;
        outline: 0;
    }
}

textarea,
select,
input {
    color: $color-text;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: $color-bg-alt;
    border: 1px solid $color-bg-alt;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;

    &:focus {
        border: 1px solid $color-blossom;
        outline: 0;
    }
}

input[type="checkbox"]:focus {
    outline: 1px dotted $color-blossom;
}

label,
legend,
fieldset {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
