@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base.scss";
@import "./components/hightlightjs";

body {
    @apply bg-white text-black;
    @apply dark:bg-black dark:text-label;
    @apply font-lexend;
    font-weight: 400;
    // font-size: 1rem;
    line-height: 1.5;
}

:focus {
    outline-color: theme("colors.blue.500");

    @media (prefers-color-scheme: dark) {
        outline-color: theme("colors.blue.500");
    }
}

blockquote {
    @apply rounded-lg;
    background-color: theme("colors.blue.100");

    @media (prefers-color-scheme: dark) {
        background-color: $color-bg-alt;
    }
}

.icon {
    -webkit-font-feature-settings: "liga" off, "dlig";
    -moz-font-feature-settings: "liga=0, dlig=1";
    font-feature-settings: "liga", "dlig";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "Material Icons Round", "Material Icons";
    vertical-align: middle;
    letter-spacing: normal;
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    font-weight: normal;
    position: relative;
    font-style: normal;
    word-wrap: normal;
    font-size: 24px;
    line-height: 1;
    direction: ltr;
    height: 1em;
    width: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .icon {
        visibility: hidden;
        font-size: 0.75em;
    }

    a {
        @apply p-2;
    }

    &:hover .icon {
        visibility: visible;
        border-bottom-color: transparent;
    }

    a:is(:hover, :focus) {
        visibility: visible;
        border-bottom-color: transparent;
    }
}

main[data-wrapper] {
    @apply container max-w-screen-xl;
}

article[main-content] {
    @apply md:grid gap-x-10;

    @screen md {
        grid-template-columns: minmax(0, 1fr) 250px;
    }
}

main ul {
    list-style-type: disc;
    li {
        margin-bottom: 0.2em;
    }
}

.toc {
    @apply md:text-right pt-48;

    .toc-sticky {
        @apply sticky top-0 overflow-y-auto pr-2 overflow-x-visible;
        height: 100vh;

        @supports (height: 100dvh) {
            height: 100dvh;
        }
    }

    .toc-title {
        @apply pb-4 text-3xl uppercase;

    }

    a {
        @apply no-underline;
    }
}

// a {
//     @apply text-blue-500 hover:text-blue-700 underline;
//     @apply dark:text-blue-400 dark:hover:text-blue-200;
// }

// button,
// a {
//     transition: color 0.2s ease-out, box-shadow 0.2s ease-out;
//     @apply focus-visible:ring-4 focus-visible:ring-blue-500 focus-visible:ring-opacity-50;
//     @apply focus:outline-none focus-visible:rounded-sm;

//     -webkit-tap-highlight-color: transparent;
// }
