<style lang="scss">
    :global(.animated-box) {
        width: min(8vmax, 50px);
        aspect-ratio: 1 / 1;
        @apply bg-blue-500 rounded-xl;
        top: 0;
        left: 0;
        z-index: 10;
    }
</style>

<div class="animated-box"></div>