<style lang="scss">
  .logo {
    padding-left: 2ch;
    padding-top: 2ch;

    img {
      @apply m-0;
    }
  }
</style>

<div class="logo">
  <img src="/assets/favicon.svg" alt="Logo of the native project." width="56" height="56" />
</div>