<style lang="scss">
  .logo {
    padding-left: 2ch;
    padding-top: 2ch;
    @apply  h-[56px];

    img {
      @apply m-0 h-[56px];
    }
  }
</style>

<div class="logo block">
  <img src="/assets/favicon.svg" alt="Logo of the native project." width="56" height="56" />
</div>