---
import ChevronRight from "~icons/fluent/chevron-right-20-filled";
import type { DocTreeNode } from "../lib/docs";

export interface Props {
  node: DocTreeNode;
}

const { node } = Astro.props;
---

{node.kind === "group" ? (
  <details>
    <summary>
      <ChevronRight class="summary-icon" aria-hidden="true" />
      <span>{node.label}</span>
    </summary>

    <div class="content">
      {node.children?.map((child) => <Astro.self node={child} />)}
    </div>
  </details>
) : (
  <a href={node.href}>{node.label}</a>
)}
