---
import Logo from "./Logo.astro";
import SidebarSection from "./SidebarSection.astro";
import { getDocTree } from "../lib/docs";
import sidebarScript from "../scripts/sidebar.ts?url";

const tree = getDocTree();
---

<style lang="scss">
  @reference "../style/tailwind-reference.css";

  aside {
    font-size: 0.9em;
    min-width: 300px;
    @apply py-2 min-w-[250px] lg:min-w-[300px];
    @apply fixed left-0 top-0 h-full w-full sm:relative sm:h-auto sm:w-auto;
    transform: translateX(-100%);
  }

  @media (min-width: 40rem) {
    aside {
      transform: translateX(0);
    }
  }

  .sticky {
    @apply sm:sticky h-full max-h-screen top-0 w-full flex flex-col;
  }

  .scroll-shadow-top,
  .scroll-shadow-bottom {
    @apply from-white dark:from-black to-transparent z-10 flex-shrink-0;
    @apply w-full h-16 pointer-events-none;
  }

  .scroll-shadow-top {
    @apply bg-gradient-to-b translate-y-full;
    transform: translateY(99%);
  }
  
  .scroll-shadow-bottom {
    @apply bg-gradient-to-t -translate-y-full;
    transform: translateY(-99%);
  }

  .scroll {
    @apply relative w-full overflow-auto px-5 py-10;
  }

  details {
    .content {
      padding-left: 2ch;
      @apply py-2;
    }

    summary::marker {
      content: "";
    }

    summary,
    a {
      @apply relative cursor-pointer py-2;
      padding-left: 2ch;
    }

    summary {
      @apply flex items-center gap-2;
    }

    .summary-icon {
      @apply absolute left-0 top-1/2 text-blue-600 dark:text-gray-400/60;
      transition: transform 0.2s ease-in-out;
      transform: translateY(-50%);
    }

    &[open] > summary {
      @apply text-blue-500;
    }

    &[open] > summary .summary-icon {
      transform: translateY(-50%) rotate(90deg);
    }

    a {
      @apply border-none block font-light;
      @apply no-underline py-3 text-black/75 dark:text-blue-300/80;
      word-break: break-word;
      padding-left: 3ch;
      font-size: 0.9em;

      &:before {
        transform: translate(calc((1em - 2px) / 2), -50%);
        @apply w-px h-full border-l-[1px] border-dashed border-gray-500/60;
        content: "";
      }

      & + details {
        @apply pt-6;
      }

      &.active {
        @apply text-blue-500;

        &:before {
          @apply border-solid border-blue-500/80;
        }
      }
    }
  }
</style>

<aside>
  <Logo />
  <div class="sticky">
    <div class="scroll-shadow-top"></div>
    <div class="scroll">
      {tree.map((node) => <SidebarSection node={node} />)}
    </div>

    <div class="scroll-shadow-bottom"></div>
  </div>
</aside>

<script is:inline src={sidebarScript} type="module"></script>
