---
import Sidebar from "../components/Sidebar.astro";
import "../style/global.scss";

export interface Props {
  title?: string;
  description?: string;
}

const { title = "native", description = "Documentation and demos for the native initiative." } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
  </head>

  <body>
    <div class="layout">
      <Sidebar />

      <main data-wrapper>
        <slot />
      </main>
    </div>
  </body>
</html>
