<!DOCTYPE html>
<html class="dark">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="color-scheme" content="dark light">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
        <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">

        <!-- <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&amp;display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round&amp;display=block" rel="stylesheet"> -->

        <link rel="stylesheet" href={Astro.resolve("../style/global.css")}>
    </head>

    <body>
        <!--+navbar-->
        <!--+big-transition-->
        <div class="navbar-offset"></div>
        
        <main data-wrapper>
            <slot />
        </main> 
        <!--+footer-->

        <!-- <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default,es2015,es2018,Array.prototype.includes,Object.values,Promise,fetch" async></script> -->

        <!-- <script src="./js/theme.min.js" type="module" async></script>
        <script src="./js/main.min.js" type="module" async></script> -->
    </body>
</html>